@import url('http://fonts.googleapis.com/css?family=Cinzel:700,400');
@charset "UTF-8";
.name {
	display: inline-block;
	float: left;
	font-family: 'Cinzel', "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: 700;
}
header nav {
	display: inline-block;
	margin-left: auto;
	float: right;
}
body {
	margin: 0;
	font-family: "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.wrapper {
	width: 960px;
	display: block;
	margin: 0 auto;
	clear: both;
}
header nav a {
	margin-left: 2em;
	font-size: small;
}
header {
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
	display: block;
	position: fixed;
	margin: 0 auto;
	z-index: 10;
	left: 0px;
	right: 0px;
	top: auto;
	bottom: auto;
	padding: 5px 0;
	background-color: #FFFFFF;
	clear: both;
	opacity: 0.95;
}
#main-content {
	clear: both;
}
#main {
	float: left;
	margin: 10px 0;
	clear: both;
	width: 100%;
}
footer span {
	font-size: x-small;
}
p, li
{
	font-size:medium;
}
h1, h2, h3, h4, h5, h6 {
	margin: 5px 0;
}
h1 {
	font-size: x-large;
}
h2 {
	font-size: large;
}
h3 {
	font-size: medium;
}
footer {
	clear: both;
	width: 100%;
	display: block;
	background-color: #AAAAAA;
	padding: 5px 0;
	color: #FFFFFF;
}
a {
	color: #FF5E5E;
	text-decoration: none;
}
a:hover {
	color: #000000;
}
.name a {
	color: #000000;
}
section {
	margin: 1em 0;
}
section:first-of-type {
	margin: 0em 0em;
}
.landing-image {
	position: relative;
}
.landing-image span {
	position: absolute;
	color: #FFFFFF;
	padding: 5px;
	background-color: rgba(100,100,100,0.25);
	margin: 0px;
	max-width: 30em;
	bottom: 3em;
	right: 3em;
}
.landing-image a
{
	color:#FFFFFF;
}
.landing-image a:hover
{
	color:#CCCCCC;
}

p {
	margin-top: 0em;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0.5em;
}
p:last-of-type {
	margin:0;
}
ul {
	margin: 5px 0;
}
.examples li {
	margin: 0.5em 0;
}
#publications {
	list-style-type: none;
	padding-left: 0px;
}
#publications li {
	margin: 0.5em 0;
}
.bio article div {
	margin-top: 0px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 5px;
}
.bio article div h2, .bio article div h3 {
	margin: 0;
}
.bio article {
	margin: 5px 0;
}
#header-links {
	margin: 0 auto;
	width: 960px;
}
footer a {
	color: #FFFFFF;
}
#header-wrapper {
	height: 30px;
}
#footer-links {
	float: left;
	line-height: 100%;
}
#footer-info {
	float: right;
	font-size: small;
	text-align: right;
	line-height: 125%;
}
#footer-links a {
	display: block;
	font-size: small;
}
.landing-image span p {
	margin: 5px 0;
}
